/* Samsung Galaxy S5 */
@media screen and (max-width: 360px) {
  /* Your CSS rules for Galaxy S5 go here */
  
  .cypher,
    .intro,
    .intro .typer,
    .fallout,
    .outro,
    .outro typer,
.outro a:active,
.outro a:focus,
.outro a:hover,
.outro a
    
    
    {
        font-size: 16px !important; /* Smaller font size for mobile */
    }
    .cypher {
   height: 60vh !important;
    }
    .output{ 
      justify-content: center !important;
    }
    .game {
	display: flex;
	width:120vw;
	height:90vh;
}
  
}

/* Samsung Galaxy S6, S6 Edge, S7, S7 Edge */
@media screen and (min-width: 360px) and (max-width: 480px) {
  /* Your CSS rules for Galaxy S6, S7, etc. go here */
 .cypher {
   height: 60vh !important;
    }
    .output{ 
      justify-content: center !important;
    }
    .game {
	display: flex;
	width:120vw;
}
.cypher,
    .intro,
    .intro .typer,
    .fallout,
    .outro,
    .outro typer,
.outro a:active,
.outro a:focus,
.outro a:hover,
.outro a
    
    
    {
        font-size: 16px !important; /* Smaller font size for mobile */
    }
    
 .cypher {
   height: 60vh !important;
    }
    .output{ 
      justify-content: center !important;
    }
    
    .game {
	display: flex;
	width:120vw;
	height:90vh;
}
}

/* Samsung Galaxy S8, S8+, S9, S9+, S10, S10e */
@media screen and (min-width: 480px) and (max-width: 640px) {
  /* Your CSS rules for Galaxy S8, S9, S10, etc. go here */
  .cypher,
    .intro,
    .intro .typer,
    .fallout,
    .outro,
    .outro typer,
.outro a:active,
.outro a:focus,
.outro a:hover,
.outro a
    
    
    {
        font-size: 16px !important; /* Smaller font size for mobile */
    };}
    .intro,
    .intro .typer,
    .fallout,
    .outro,
    .outro typer,
.outro a:active,
.outro a:focus,
.outro a:hover,
.outro a
    
    
    {
        font-size: 16px !important; /* Smaller font size for mobile */
    }
    .game {
	display: flex;
	width:120vw;
	height: 90vh;
}
}


.fallout,
.intro,
.outro {
	text-transform: none;
	padding: 2rem;
	--lh: calc(1ch * 2.55);
	--column: calc(17 * var(--lh));
}

.outro .typer,
.intro .typer {
	margin-bottom: 1rem;
}

.outro a {
	display: block;
	color: var(--color);
	text-decoration: none;
}

.outro a:active,
.outro a:focus,
.outro a:hover {
	background: var(--color);
	color: var(--bg);
}

.outro .end {
	position: absolute;
	bottom: 0;
}

.game {
	display: flex;
	position: relative;
	max-height: var(--column);
	line-height: var(--lh);
}

.cypher {
	flex: 0 0 auto;
	width: 40ch;
	height: var(--column);
	column-count: 2;
	column-gap: 1ch;
	column-fill: auto;
	word-break: break-all;
	outline: none;
}

.hide {
	visibility: hidden;
}
.cypher span.active,
.cypher span:hover {
	background-color: var(--color);
	color: var(--bg);
}

.cypher span[data-word],
.cypher span[data-special] {
	cursor: pointer;
}
.active-word:before {
	content: "> ";
	display: inline-block;
}
.output {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-left: 1ch;
}
.lives,
.output pre {
	margin: 0;
	margin-bottom: 2.5ch;
}

.locked {
	text-align: center;
}
.active-word .typer {
	display: inline;
}
.locked .typer {
	margin-top: 5rem;
}

@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');

$midGrey: #2e2e2e;
$darkGrey: #252525;
$green: #4e4e4e;
$lightGrey:#00ffb4;

$curve: cubic-bezier(0.23, 1, 0.32, 1);
  
$font: 'Share Tech Mono', monospace;

@mixin keyframes($animationName)
{
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}//@include keyframes


@mixin centerer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


button {
background-color: $midGrey;

  font-family: $font ;
  text-decoration: none;
  color: $green;
}

.glitch-btn {
  display: inline-block;
  @include centerer;
  font-size: 36px;
  transition: all 0.8s $curve;
}


.glitch-btn:hover {
  color: $lightGrey;
}
.glitch-btn:hover:before {
  background: $green;
  transform: translateX(2250%) scaleX(50) scaleY(0.2);
  
}


.glitch-btn:before {
  content: "";
  position: absolute;
  left: -10%;
  top: -10%;
  background: $lightGrey;
  width: 4px;
  height: 120%;
  padding: 0px;
  z-index: -1;
  transition: all 0.8s $curve;
}

@keyframes glitchin {
  100% {
            transform: translate(0px, 0px);
  }
  95% {
    -webkit-transform: translate(0.5px, 0.05px);
            transform: translate(0.5px, 0.05px);
  }
  90% {
    -webkit-transform: translate(0.6px, -0.3px);
            transform: translate(0.6px, -0.3px);
  }
  85% {
    -webkit-transform: translate(1.2px, 0px);
            transform: translate(1.2px, 0px);
  }
  80% {
    -webkit-transform: translate(1.2px, 0.2px);
            transform: translate(1.2px, 0.2px);
  }
  75% {
    -webkit-transform: translate(0.5px, 1px);
            transform: translate(0.5px, 1px);
  }
  70% {
    -webkit-transform: translate(0.3px, 1.2px);
            transform: translate(0.3px, 1.2px);
  }
  65% {
    -webkit-transform: translate(-2.1px, 0.7px);
            transform: translate(-2.1px, 0.7px);
  }
  60% {
    -webkit-transform: translate(3.6px, 0.4px);
            transform: translate(3.6px, 0.4px);
  }
  55% {
    -webkit-transform: translate(0.45px, 1.8px);
            transform: translate(0.45px, 1.8px);
  }
  50% {
    -webkit-transform: translate(-3px, -1px);
            transform: translate(-3px, -1px);
  }
  45% {
    -webkit-transform: translate(-4.4px, 1.1px);
            transform: translate(-4.4px, 1.1px);
  }
  40% {
    -webkit-transform: translate(-4.2px, 2.4px);
            transform: translate(-4.2px, 2.4px);
  }
  35% {
    -webkit-transform: translate(2.6px, 1.3px);
            transform: translate(2.6px, 1.3px);
  }
  30% {
    -webkit-transform: translate(-1.4px, 2.8px);
            transform: translate(-1.4px, 2.8px);
  }
  25% {
    -webkit-transform: translate(6px, 0.75px);
            transform: translate(6px, 0.75px);
  }
  20% {
    -webkit-transform: translate(0px, -1.6px);
            transform: translate(0px, -1.6px);
  }
  15% {
    -webkit-transform: translate(-5.95px, -0.85px);
            transform: translate(-5.95px, -0.85px);
  }
  10% {
    -webkit-transform: translate(3.6px, 3.6px);
            transform: translate(3.6px, 3.6px);
  }
  5% {
    -webkit-transform: translate(-0.95px, -0.95px);
            transform: translate(-0.95px, -0.95px);
  }
}

.glitch-btn .mask {
  position: absolute;
  -webkit-backface-visibility: hidden;
  height: 20%;
  width: 100%;
  overflow: hidden;
  display: none;
}

.glitch-btn .mask span {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  top: -100%;
}

.glitch-btn .mask {
  top: 20%;
}

.glitch-btn:hover .mask {
  animation: glitchin 0.2s both ;
}

.glitch-btn:hover .text {
  animation: fade-in 0.8s forwards;
}
.glitch-btn:hover .mask {
  display: block;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}