/* Samsung Galaxy S5 */
@media screen and (max-width: 360px) {
  /* Your CSS rules for Galaxy S5 go here */
  
  .cypher,
    .intro,
    .intro .typer,
    .fallout,
    .outro,
    .outro typer,
.outro a:active,
.outro a:focus,
.outro a:hover,
.outro a
    
    
    {
        font-size: 16px !important; /* Smaller font size for mobile */
    }
    .cypher {
   height: 60vh !important;
    }
    .output{ 
      justify-content: center !important;
    }
    .game {
	display: flex;
	width:120vw;
	height:90vh;
}
  
}

/* Samsung Galaxy S6, S6 Edge, S7, S7 Edge */
@media screen and (min-width: 360px) and (max-width: 480px) {
  /* Your CSS rules for Galaxy S6, S7, etc. go here */
 .cypher {
   height: 60vh !important;
    }
    .output{ 
      justify-content: center !important;
    }
    .game {
	display: flex;
	width:120vw;
}
.cypher,
    .intro,
    .intro .typer,
    .fallout,
    .outro,
    .outro typer,
.outro a:active,
.outro a:focus,
.outro a:hover,
.outro a
    
    
    {
        font-size: 16px !important; /* Smaller font size for mobile */
    }
    
 .cypher {
   height: 60vh !important;
    }
    .output{ 
      justify-content: center !important;
    }
    
    .game {
	display: flex;
	width:120vw;
	height:90vh;
}
}

/* Samsung Galaxy S8, S8+, S9, S9+, S10, S10e */
@media screen and (min-width: 480px) and (max-width: 640px) {
  /* Your CSS rules for Galaxy S8, S9, S10, etc. go here */
  .cypher,
    .intro,
    .intro .typer,
    .fallout,
    .outro,
    .outro typer,
.outro a:active,
.outro a:focus,
.outro a:hover,
.outro a
    
    
    {
        font-size: 16px !important; /* Smaller font size for mobile */
    };}
    .intro,
    .intro .typer,
    .fallout,
    .outro,
    .outro typer,
.outro a:active,
.outro a:focus,
.outro a:hover,
.outro a
    
    
    {
        font-size: 16px !important; /* Smaller font size for mobile */
    }
    .game {
	display: flex;
	width:120vw;
	height: 90vh;
}
}


.fallout,
.intro,
.outro {
	text-transform: none;
	padding: 2rem;
	--lh: calc(1ch * 2.55);
	--column: calc(17 * var(--lh));
}

.outro .typer,
.intro .typer {
	margin-bottom: 1rem;
}

.outro a {
	display: block;
	color: var(--color);
	text-decoration: none;
}

.outro a:active,
.outro a:focus,
.outro a:hover {
	background: var(--color);
	color: var(--bg);
}

.outro .end {
	position: absolute;
	bottom: 0;
}

.game {
	display: flex;
	position: relative;
	max-height: var(--column);
	line-height: var(--lh);
}

.cypher {
	flex: 0 0 auto;
	width: 40ch;
	height: var(--column);
	column-count: 2;
	column-gap: 1ch;
	column-fill: auto;
	word-break: break-all;
	outline: none;
}

.hide {
	visibility: hidden;
}
.cypher span.active,
.cypher span:hover {
	background-color: var(--color);
	color: var(--bg);
}

.cypher span[data-word],
.cypher span[data-special] {
	cursor: pointer;
}
.active-word:before {
	content: "> ";
	display: inline-block;
}
.output {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-left: 1ch;
}
.lives,
.output pre {
	margin: 0;
	margin-bottom: 2.5ch;
}

.locked {
	text-align: center;
}
.active-word .typer {
	display: inline;
}
.locked .typer {
	margin-top: 5rem;
}

input[type="submit"] {
  background:linear-gradient(45deg,transparent 5%,#1C2E007C 5%);
margin-top:10px;
margin-bottom: 7px;
  border:0;

  color:#5bf870;
  letter-spacing:3px;
  line-height:24px;
  box-shadow:6px 0px 0px #5bf870;

  outline:transparent;
  position:relative;
    --slice-0:inset(50% 50% 50% 50%);

  --slice-1:inset(80% -6px 0 0);

  --slice-2:inset(50% -6px 30% 0);
  --slice-3:inset(10% -6px 85% 0);
  --slice-4:inset(40% -6px 43% 0);
  --slice-5:inset(80% -6px 5% 0);
}
#btnhack ,#btnhack::after{
  width:20vw;
  height:102;
  /* 左下角切角，前一半透明*/
  background:linear-gradient(45deg,transparent 5%,#1C2E007C 5%);
  border:0;
  color:#5bf870;
  letter-spacing:3px;
  line-height:24px;
  box-shadow:6px 0px 0px #5bf870;
  /*点击去除浏览器默认效果*/
  outline:transparent;
  position:relative;
}
#btnhack::after{
  --slice-0:inset(50% 50% 50% 50%);
  --slice-1:inset(80% -6px 0 0);
  --slice-2:inset(50% -6px 30% 0);
  --slice-3:inset(10% -6px 85% 0);
  --slice-4:inset(40% -6px 43% 0);
  --slice-5:inset(80% -6px 5% 0);
  content:"HACK";
  display:block;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
 background:linear-gradient(45deg,transparent 3%,#00E6F6 3%,#00E6F60 5%,#FF013C 5%);
  text-shadow:-3px -3px 0px #F8F005,3px 3px 0px #1C2E007C;
  clip-path:var(--slice-0);
  
}
button:focus::after, 
input[type="submit"]:hover, 
button:hover::after{
  animation:3s glitch;
  /* 卡顿效果*/
  animation-timing-function:steps(2,end);
}

@keyframes glitch{
  0%{
    clip-path:var(--slice-1);
    transform:translate(-20px,-10px);
  }
  10%{
    clip-path:var(--slice-3);
    transform:translate(10px,10px);
  }
  20%{
      clip-path:var(--slice-1);
    transform:translate(-10px,10px);
  }
  30%{
      clip-path:var(--slice-3);
    transform:translate(0px,5px);
  }
  40%{
      clip-path:var(--slice-2);
    transform:translate(-5px,0px);
  }
  50%{
      clip-path:var(--slice-3);
    transform:translate(5px,0px);
  }
  60%{
      clip-path:var(--slice-4);
    transform:translate(5px,10px);
  }
  70%{
      clip-path:var(--slice-2);
    transform:translate(-10px,10px);
  }
  80%{
      clip-path:var(--slice-5);
    transform:translate(20px,-10px);
  }
  90%{
      clip-path:var(--slice-1);
    transform:translate(-10px,0px);
  }
  100%{
      clip-path:var(--slice-1);
    transform:translate(-20px,-10px);
  }
}






.contact-form {
  margin-top: 10px;
}

/* Styling for the form elements */
.form-input {
  /* Green border */
  border: 1px solid #008000;
  
  margin-top: 7.5px;
  Margin-left: 5px;pos
  overflow: hidden; 
  background-color: rgba(0,123,0,0.4)
-webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 100%, 0 100%, 0% 25%);
clip-path: polygon(0 0, 100% 0, 100% 50%, 80% 100%, 0 100%, 0% 25%);
/* Cyberpunk-style clipped shape input for small screens */
} 
input[type="text"]:focus, .form-input, input[type="tel"]:focus, input[type="email"]:focus,.txtarea:focus, textarea {
  background-color: #55ff00; /*Neon pink color on focus */
  color: #fff;
  outline: none;
}