/* Samsung Galaxy S5 */
@media screen and (max-width: 360px) {
  /* Your CSS rules for Galaxy S5 go here */
  
  .cypher,
    .intro,
    .intro .typer,
    .fallout,
    .outro,
    .outro typer,
.outro a:active,
.outro a:focus,
.outro a:hover,
.outro a
    
    
    {
        font-size: 16px !important; /* Smaller font size for mobile */
    }
    .cypher {
   height: 64vh !important;
    }
    .output{ 
      justify-content: center !important;
    }
    .game {
	display: flex;
	width:120vw;
	height:90vh;
}
  
}

/* Samsung Galaxy S6, S6 Edge, S7, S7 Edge */
@media screen and (min-width: 360px) and (max-width: 480px) {
  /* Your CSS rules for Galaxy S6, S7, etc. go here */
 .cypher {
   height: 64vh !important;
    }
    .output{ 
      justify-content: center !important;
    }
    .game {
	display: flex;
	width:120vw;
}
.cypher,
    .intro,
    .intro .typer,
    .fallout,
    .outro,
    .outro typer,
.outro a:active,
.outro a:focus,
.outro a:hover,
.outro a
    
    
    {
        font-size: 16px !important; /* Smaller font size for mobile */
    }
    
 .cypher {
   height: 64vh !important;
    }
    .output{ 
      justify-content: center !important;
    }
    
    .game {
	display: flex;
	width:120vw;
	height:90vh;
}
}

/* Samsung Galaxy S8, S8+, S9, S9+, S10, S10e */
@media screen and (min-width: 480px) and (max-width: 640px) {
  /* Your CSS rules for Galaxy S8, S9, S10, etc. go here */
  .cypher,
    .intro,
    .intro .typer,
    .fallout,
    .outro,
    .outro typer,
.outro a:active,
.outro a:focus,
.outro a:hover,
.outro a
    
    
    {
        font-size: 16px !important; /* Smaller font size for mobile */
    };}
    .intro,
    .intro .typer,
    .fallout,
    .outro,
    .outro typer,
.outro a:active,
.outro a:focus,
.outro a:hover,
.outro a
    
    
    {
        font-size: 16px !important; /* Smaller font size for mobile */
    }
    .game {
	display: flex;
	width:120vw;
	height: 90vh;
}
}


.fallout,
.intro,
.outro {
	text-transform: none;
	padding: 2rem;
	--lh: calc(1ch * 2.55);
	--column: calc(17 * var(--lh));
}

.outro .typer,
.intro .typer {
	margin-bottom: 1rem;
}

.outro a {
	display: block;
	color: var(--color);
	text-decoration: none;
}

.outro a:active,
.outro a:focus,
.outro a:hover {
	background: var(--color);
	color: var(--bg);
}

.outro .end {
	position: absolute;
	bottom: 0;
}

.game {
	display: flex;
	position: relative;
	max-height: var(--column);
	line-height: var(--lh);
}

.cypher {
	flex: 0 0 auto;
	width: 40ch;
	height: var(--column);
	column-count: 2;
	column-gap: 1ch;
	column-fill: auto;
	word-break: break-all;
	outline: none;
}

.hide {
	visibility: hidden;
}
.cypher span.active,
.cypher span:hover {
	background-color: var(--color);
	color: var(--bg);
}

.cypher span[data-word],
.cypher span[data-special] {
	cursor: pointer;
}
.active-word:before {
	content: "> ";
	display: inline-block;
}
.output {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-left: 1ch;
}
.lives,
.output pre {
	margin: 0;
	margin-bottom: 2.5ch;
}

.locked {
	text-align: center;
}
.active-word .typer {
	display: inline;
}
.locked .typer {
	margin-top: 5rem;
}
